#include <complex.h>
#include <math.h>
/* This is a procedurally generated list of functions */

#define FUNCN {{ funcn }}
#define F_LIST { {% for f in functions %}&{{ f.fname }}, {% endfor %} }
#define DF_LIST { {% for f in functions %}&{{ f.dname }}, {% endfor %} }
#define FNAMES { {% for f in functions %}"{{ f.fname }}", {% endfor %} }
#define F_STRING_LIST { {% for f in functions %}"{{ f.fstring }}", {% endfor %} }
#define DF_STRING_LIST { {% for f in functions %}"{{ f.dfstring }}", {% endfor %} }

{% for f in functions %}
double complex {{ f.fname }}(double complex);
double complex {{ f.dname }}(double complex);
{% endfor %}
