#include "functions.h"

{% for f in functions %}
double complex {{ f.fname }}(double complex x)
{
  return {{ f.fbody }};
}
double complex {{ f.dname }}(double complex x)
{
  return {{ f.dbody }};
}

{% endfor %}
